name: Update Stock Data
on:
  schedule:
    - cron: '0 8 * * 1-5'
  workflow_dispatch:

# Ngăn chặn việc hủy bỏ các phiên chạy trước đó một cách đột ngột
concurrency:
  group: "pages"
  cancel-in-progress: false 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Run Script
        run: |
          pip install requests
          python main.py
      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add data.json
          git commit -m "Update VN30 data" || exit 0
          git push
